body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body header#horizontal_menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  background: black;
  z-index: 10;
}
body header#horizontal_menu > a {
  width: 10%;
  padding-left: 35px;
}
body header#horizontal_menu > a img {
  display: flex;
  width: 100%;
  height: 100%;
}
body header#horizontal_menu nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
body header#horizontal_menu nav a {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
body #vertical_menu {
  position: fixed;
  bottom: 0;
  float: left;
  width: 7%;
  height: calc(100vh - 80.72px);
  background: black;
}
body #vertical_menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}
body #vertical_menu nav a {
  margin: 5px 0;
}
body #vertical_menu div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}
body #vertical_menu div p {
  font-weight: 500;
  font-size: 12px;
  color: white;
}
body #user_profile {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 93%;
  margin-top: 5%;
  padding-bottom: 5%;
}
body #user_profile #user_message {
  width: 100%;
  padding: 0 100px;
}
body #user_profile #user_message h1 {
  font-weight: 500;
  font-size: 48px;
}
body #user_profile #user_message h1 span {
  margin-left: 15px;
  color: #FF0101;
}
body #user_profile #user_message p {
  font-weight: 400;
  font-size: 18px;
}
body #user_profile #graphics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 70%;
}
body #user_profile #graphics h2 {
  font-weight: 600;
  font-size: 15px;
}
body #user_profile #graphics .bachart {
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-left: 7%;
}
body #user_profile #graphics .bachart h2 {
  margin-left: 8%;
  font-weight: 600;
  font-size: 15px;
}
body #user_profile #graphics .bachart .recharts-wrapper {
  position: initial !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper {
  left: initial !important;
  bottom: initial !important;
  right: 0;
  top: 0;
  width: 100% !important;
  transform: translateX(45px);
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul {
  text-align: right !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul span {
  font-weight: 500;
  color: #74798C !important;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface {
  overflow: visible;
  margin-top: 5%;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-yAxis {
  transform: translateX(100%);
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-yAxis line {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis .recharts-cartesian-axis-ticks {
  transform: translateY(20px);
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick-line {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis line {
  stroke: #DEDEDE !important;
}
body #user_profile #graphics .bachart .recharts-tooltip-wrapper .recharts-default-tooltip {
  background-color: #FF0101 !important;
  border: 1px solid transparent !important;
}
body #user_profile #graphics .bachart .recharts-tooltip-wrapper .recharts-default-tooltip .recharts-tooltip-label {
  display: none;
}
body #user_profile #graphics .bachart .recharts-tooltip-wrapper .recharts-default-tooltip ul li {
  text-align: center;
  color: white !important;
  font-weight: 500;
  font-size: 12px;
}
body #user_profile #graphics .bachart .recharts-cartesian-grid-vertical line {
  display: none;
}
body #user_profile #graphics .lineChart {
  width: 30%;
  margin: 10% 0 0 10%;
  padding: 20px 0;
  background: #FF0101;
  border-radius: 5px;
}
body #user_profile #graphics .lineChart h2 {
  margin-bottom: 25%;
  padding: 0 70px 0 30px;
  color: white;
  opacity: 0.5;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface {
  width: 100% !important;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-xAxis line {
  display: none;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-xAxis g {
  font-weight: 500;
  font-size: 12px;
  color: white !important;
}
body #user_profile #graphics .RadarChart {
  width: 30%;
  height: 300px;
  margin-top: 10%;
  background: #282D30;
  border-radius: 5px;
}
body #user_profile #graphics .RadarChart .recharts-wrapper {
  width: 275px !important;
  margin: 0 auto;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg g text {
  fill: white !important;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg g text tspan {
  font-weight: 500;
  font-size: 12px;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-layer.recharts-polar-radius-axis {
  display: none;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-radar-polygon .recharts-polygon {
  fill: #FF0101 !important;
  stroke: #FF0101 !important;
  fill-opacity: 0.7 !important;
  stroke-opacity: 0.7 !important;
}
body #user_profile #graphics .RadialBarChart_Score {
  width: 23%;
  height: 200px;
  margin-top: 10%;
}
body #user_profile #graphics .RadialBarChart_Score > div > svg {
  width: 100%;
  height: 100%;
}
body #user_profile #key_info {
  width: 30%;
}
body #user_profile #key_info ul {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 5%;
}
body #user_profile #key_info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
body #user_profile #key_info ul li img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
body #user_profile #key_info ul li p {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
}
body #user_profile #key_info ul li span {
  color: #74798C;
  font-weight: 500;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */