@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body header#horizontal_menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  background: black;
  z-index: 10;
}
body header#horizontal_menu > a {
  width: 10%;
  padding-left: 35px;
}
body header#horizontal_menu > a img {
  display: flex;
  width: 100%;
  height: 100%;
}
body header#horizontal_menu nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
body header#horizontal_menu nav a {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
body #vertical_menu {
  position: fixed;
  bottom: 0;
  float: left;
  width: 7%;
  height: 100%;
  background: black;
}
body #vertical_menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}
body #vertical_menu nav a {
  margin: 5px 0;
}
body #vertical_menu div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}
body #vertical_menu div p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 12px;
  color: white;
}
body #home {
  float: right;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
body #home button {
  margin: 20px;
  background: transparent;
  border: none;
}
body #home button a {
  padding: 12px 30px;
  background: #FF0101;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition-duration: 400ms;
}
body #home button a:hover {
  background: black;
}
body #user_profile {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 93%;
  margin-top: 5%;
  padding-bottom: 5%;
}
@media (max-width: 1405px) {
  body #user_profile {
    flex-direction: column;
    margin-top: 8%;
  }
}
body #user_profile #user_message {
  width: 100%;
  padding: 0 100px;
}
@media (max-width: 1405px) {
  body #user_profile #user_message {
    width: auto;
    padding: 0 5%;
    text-align: center;
  }
}
body #user_profile #user_message h1 {
  font-weight: 500;
  font-size: 48px;
}
body #user_profile #user_message h1 span {
  margin-left: 15px;
  color: #FF0101;
}
body #user_profile #user_message p {
  font-weight: 400;
  font-size: 18px;
}
body #user_profile #graphics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 70%;
}
@media (max-width: 1405px) {
  body #user_profile #graphics {
    justify-content: center;
    width: 100%;
  }
}
body #user_profile #graphics h2 {
  font-weight: 600;
  font-size: 15px;
}
body #user_profile #graphics .bachart {
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-left: 7%;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .bachart {
    margin-left: 0;
  }
}
body #user_profile #graphics .bachart .recharts-wrapper {
  position: initial !important;
  width: 100% !important;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .bachart .recharts-wrapper {
    display: flex;
    justify-content: center;
  }
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper {
    justify-content: center;
    gap: 30px;
  }
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper::before {
  content: "Activité quotidienne";
  margin-left: 5%;
  font-weight: 600;
  font-size: 15px;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul {
  text-align: right !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul li {
  padding: 0 10px;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul li:first-of-type svg {
  background: #282d30;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul li:last-of-type svg {
  background: #FF0101;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul li svg {
  width: 8px;
  height: 8px;
  margin-right: 12px !important;
  border-radius: 50px;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-legend-wrapper ul li span {
  font-weight: 500;
  color: #74798C !important;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface {
  overflow: visible;
  margin-top: 5%;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-yAxis line {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis .recharts-cartesian-axis-ticks {
  transform: translateY(20px);
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick-line {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-xAxis line {
  stroke: #DEDEDE !important;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-cartesian-grid {
  transform: translateX(48px);
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-cartesian-grid-horizontal line:first-of-type {
  stroke-dasharray: 0 !important;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-cartesian-axis line {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper > svg.recharts-surface .recharts-tooltip-cursor {
  transform: translateX(26px);
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper {
  border: none !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip {
  background-color: #FF0101 !important;
  border: none !important;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip .recharts-tooltip-label {
  display: none;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li {
  text-align: center;
  color: white !important;
  font-weight: 500;
  font-size: 12px;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li:first-of-type {
  margin-bottom: 20px;
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li:first-of-type .recharts-tooltip-item-value::after {
  content: "kg";
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li:last-of-type .recharts-tooltip-item-value::after {
  content: "kcal";
}
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li .recharts-tooltip-item-name,
body #user_profile #graphics .bachart .recharts-wrapper .recharts-tooltip-wrapper .recharts-default-tooltip ul li .recharts-tooltip-item-separator {
  display: none;
}
body #user_profile #graphics .bachart .recharts-cartesian-grid-vertical line {
  display: none;
}
body #user_profile #graphics .lineChart {
  width: 27.6666666667%;
  margin: 10% 0 0 10%;
  padding: 20px 0;
  background: linear-gradient(90deg, rgb(255, 0, 0) 70%, rgb(214, 4, 4) 70%);
  border-radius: 5px;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .lineChart {
    margin: 10% 0 0 0;
    width: 26%;
    background: linear-gradient(90deg, rgb(255, 0, 0) 73%, rgb(214, 4, 4) 73%);
  }
}
body #user_profile #graphics .lineChart h2 {
  margin-bottom: 25%;
  padding: 0 70px 0 30px;
  color: white;
  opacity: 0.5;
}
body #user_profile #graphics .lineChart > div {
  height: 135px !important;
  width: 100% !important;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface {
  width: 100% !important;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-xAxis {
  transform: scale(0.9) translate(19px, 25px);
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-xAxis line {
  display: none;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-xAxis text {
  fill: white !important;
  font-size: 14px;
  font-weight: 500;
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-line {
  transform: scale(1.03) translateX(-4px);
}
body #user_profile #graphics .lineChart > div > svg.recharts-surface .recharts-line path {
  stroke: rgb(255, 255, 255) !important;
}
body #user_profile #graphics .lineChart .recharts-tooltip-cursor {
  display: none;
}
body #user_profile #graphics .lineChart circle {
  fill: white !important;
  stroke: rgba(255, 255, 255, 0.2) !important;
  stroke-width: 20px;
}
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper .recharts-tooltip-label {
  display: none;
}
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper ul li {
  color: black !important;
}
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper ul li .recharts-tooltip-item-name,
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper ul li .recharts-tooltip-item-separator {
  display: none;
}
body #user_profile #graphics .lineChart .recharts-tooltip-wrapper ul li .recharts-tooltip-item-value::after {
  content: " min";
}
body #user_profile #graphics .RadarChart {
  width: 27.6666666667%;
  height: 300px;
  margin-top: 10%;
  background: #282D30;
  border-radius: 5px;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .RadarChart {
    width: 26%;
  }
}
body #user_profile #graphics .RadarChart .recharts-wrapper {
  width: 100% !important;
  margin: 0 auto;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg {
  width: 100%;
  height: 100%;
  transform: scale(0.85);
  overflow: visible;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .RadarChart .recharts-wrapper > svg {
    transform: scale(0.82);
  }
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-polar-angle-axis-ticks g.recharts-polar-angle-axis-tick:nth-of-type(4) text {
  transform: translateY(10px);
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-polar-angle-axis-ticks g.recharts-polar-angle-axis-tick text {
  fill: white !important;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-polar-angle-axis-ticks g.recharts-polar-angle-axis-tick text tspan {
  font-weight: 500;
  font-size: 12px;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-layer.recharts-polar-radius-axis {
  display: none;
}
body #user_profile #graphics .RadarChart .recharts-wrapper > svg .recharts-radar-polygon .recharts-polygon {
  fill: #FF0101 !important;
  stroke: #FF0101 !important;
  fill-opacity: 0.7 !important;
  stroke-opacity: 0.7 !important;
}
body #user_profile #graphics .RadialBarChart_Score {
  position: relative;
  width: 27.6666666667%;
  height: 300px;
  margin-top: 10%;
  background: rgba(243, 243, 243, 0.631372549);
  border-radius: 5px;
}
@media (max-width: 1405px) {
  body #user_profile #graphics .RadialBarChart_Score {
    width: 26%;
  }
}
body #user_profile #graphics .RadialBarChart_Score > div > svg {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
body #user_profile #graphics .RadialBarChart_Score h2 {
  padding: 5% 10% 0;
  margin-bottom: 0;
}
body #user_profile #graphics .RadialBarChart_Score span {
  position: absolute;
  top: 0;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  transform: translateX(50%);
  text-align: center;
  font-size: 16px;
  color: #74798C;
}
body #user_profile #graphics .RadialBarChart_Score span p {
  margin: 0;
  display: block;
  font-size: 26px;
  font-weight: 700;
  color: #282D30;
}
body #user_profile #graphics .RadialBarChart_Score .recharts-area {
  transform: rotate(-20deg) translate(-45px, 0) !important;
}
body #user_profile #key_info {
  width: 30%;
}
@media (max-width: 1405px) {
  body #user_profile #key_info {
    width: 100%;
  }
}
body #user_profile #key_info ul {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 5%;
}
@media (max-width: 1405px) {
  body #user_profile #key_info ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
    padding: 5% 8%;
  }
}
body #user_profile #key_info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
body #user_profile #key_info ul li img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
body #user_profile #key_info ul li p {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
}
body #user_profile #key_info ul li span {
  color: #74798C;
  font-weight: 500;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */